<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Integrador - Nosotros</title>
  </head>
  <body>
    <header class="main-header">
      <input type="checkbox" id="menu" />

      <nav class="nav-bar">
        <ul class="nav-bar__nav-list">
          <li class="nav-bar__nav-item">
            <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="/views/alta.html" class="nav-bar__nav-link">Alta</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="/views/nosotros.html" class="nav-bar__nav-link"
              >Nosotros</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a href="/views/contacto.html" class="nav-bar__nav-link"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-bar -->

      <div class="search-bar">
        <div class="search-bar__logo-container">
          <img
            class="search-bar__logo-img"
            src="/img/logo-banner.png"
            alt="Logo de Game Master"
            title="Game Master"
          />
        </div>
        <form action="#" class="search-bar__form-container">
          <!-- <label for="busqueda" class="search-bar__form-label">Buscar</label> -->
          <input type="search" class="search-bar__form-search" id="busqueda" />
          <input type="submit" class="search-bar__form-submit" value="Buscar" />
        </form>
        <div class="search-bar__carrito-container">
          <a href="/views/carrito.html"
            ><img
              class="search-bar__carrito-img"
              src="/img/cart-shopping-solid.svg"
              alt=""
          /></a>
        </div>
        <div class="menu-toogle">
          <label for="menu" class="menu-toogle__label">
            <span class="menu-toogle__top-bread"></span>
            <span class="menu-toogle__meat"></span>
            <span class="menu-toogle__bottom-bread"></span>
          </label>
        </div>
      </div>
      <!-- .search-bar -->
    </header>
    <!-- main-header -->

    <main>
      <section class="nosotros">
        <div class="container">
          <div class="imagenes">
            <img
              src="/img/Default_An_illustration_of_a_vibrant_digital_world_full_of_lif_2.webp"
              alt=""
            />
            <img
              src="/img/Default_An_image_of_a_group_of_friends_gathered_around_a_video_3.webp"
              alt=""
            />
            <img
              src="/img/Default_An_image_showing_people_of_different_ages_and_backgrou_3.webp"
              alt=""
            />
            <img
              src="/img/Default_An_image_of_friendly_and_efficient_customer_service_sy_1.webp"
              alt=""
            />
          </div>
          <div class="texto">
            <h2>Nuestra Historia</h2>
            <p>
              La idea de crear GameMaster nació en 2020, en medio de una charla
              entre amigos apasionados por los videojuegos. Nuestro fundador,
              Nicolas Rocchio, un ávido gamer desde su infancia, se dio cuenta
              de que existía una necesidad en el mercado: una plataforma que no
              solo ofreciera los últimos lanzamientos, sino que también
              proporcionara una experiencia de compra personalizada y un
              servicio al cliente excepcional. Con esta visión en mente, Nicolas
              reunió a un equipo de entusiastas de los videojuegos y expertos en
              tecnología para dar vida a GameMaster.
            </p>

            <h2>Misión y Visión</h2>
            <p>
              Nuestra misión es convertirnos en la tienda de videojuegos en
              línea preferida por gamers de todo el mundo, ofreciendo una amplia
              selección de títulos para todas las plataformas y brindando un
              servicio al cliente de primera clase. Nos esforzamos por crear una
              comunidad donde los jugadores puedan descubrir, compartir y
              disfrutar de sus juegos favoritos.
            </p>
            <p>
              Nuestra visión es revolucionar la manera en que se compran
              videojuegos, proporcionando una plataforma innovadora que se
              adapte a las necesidades cambiantes de nuestros clientes. Queremos
              ser más que una tienda; aspiramos a ser una parte esencial del
              viaje de cada gamer.
            </p>

            <h2>Nuestros Valores</h2>
            <p>
              <b>Pasión por los Juegos:</b> En GameMaster, todos compartimos una
              pasión ardiente por los videojuegos. Desde la selección de títulos
              hasta el servicio al cliente, esta pasión impulsa todo lo que
              hacemos.
            </p>
            <p>
              <b>Innovación:</b> En GameMaster, nos mantenemos a la vanguardia
              de la tecnología y las tendencias de la industria. Siempre
              buscamos ofrecer lo mejor a nuestra comunidad de gamers.
            </p>
            <p>
              <b>Comunidad:</b> Valoramos a nuestra comunidad de gamers y nos
              esforzamos por crear un espacio inclusivo y acogedor para todos.
              En GameMaster, todos son bienvenidos.
            </p>
            <p>
              <b>Calidad y Servicio:</b> Nos comprometemos a proporcionar
              productos y servicios de alta calidad. Cada compra en GameMaster
              es una experiencia positiva, asegurándonos de superar tus
              expectativas.
            </p>

            <h2>Nuestro Compromiso</h2>
            <p>
              <b>Amplia Selección de Videojuegos:</b> En GameMaster, encontrarás
              una amplia gama de videojuegos para todas las plataformas y
              edades. Desde los últimos lanzamientos hasta los clásicos
              favoritos, tenemos lo que necesitas para disfrutar al máximo.
            </p>
            <p>
              <b>Descripciones Detalladas y Reseñas:</b> Nuestro compromiso en
              GameMaster es proporcionarte descripciones detalladas y reseñas de
              productos para que puedas tomar decisiones informadas. Queremos
              que compres con confianza y encuentres el juego perfecto para ti.
            </p>
            <p>
              <b>Servicio al Cliente de Calidad:</b> En GameMaster, nuestro
              equipo está dedicado a brindarte un servicio al cliente
              excepcional. Estamos disponibles para resolver cualquier duda o
              problema que puedas tener, asegurándonos de que tu experiencia de
              compra sea siempre positiva.
            </p>
          </div>
        </div>
      </section>

      <section class="what-we-do">
        <h2>Lo que hacemos</h2>
        <div class="services">
          <div class="service">
            <h3>Amplia Selección de Videojuegos</h3>
            <p>
              En GameMaster, nos enorgullecemos de tener un catálogo diverso que
              incluye los últimos lanzamientos y los clásicos favoritos. Nuestro
              objetivo es satisfacer las necesidades de todos los gamers,
              independientemente de la plataforma que utilicen.
            </p>
            <a href="/index.html" class="button-grey">Aprende más</a>
          </div>
          <div class="service">
            <h3>Experiencia de Compra Personalizada</h3>
            <p>
              Entendemos la importancia de conocer bien un juego antes de
              comprarlo. Por eso, en GameMaster ofrecemos información detallada
              y opiniones honestas de nuestra comunidad, asegurando que cada
              compra sea la correcta.
            </p>
            <a href="#" class="button-grey">Aprende más</a>
          </div>
          <div class="service">
            <h3>Servicio al Cliente de Primera Clase</h3>
            <p>
              ¡En GameMaster, tu satisfacción es nuestra pasión! Nuestro equipo
              siempre está listo para resolver tus dudas, problemas técnicos y
              consultas de pedido. ¡Tu experiencia de compra es nuestra
              principal prioridad!
            </p>
            <a href="/views/contacto.html" class="button-grey">Aprende más</a>
          </div>
        </div>
      </section>
      <section class="contact">
        <div class="contact-content">
          <h2>Juegos, consolas, accesorios, lo que necesites, lo tenemos.</h2>
          <p>Atendiendo en tu área local</p>
          <a href="/views/contacto.html" class="button-orange">Contáctanos</a>
        </div>
      </section>
    </main>

    <!-- footer -->
    <footer>
      <div class="footer-content">
        <div class="footer-logo">
          <img class="footer-img" src="/img/logo.webp" alt="" />
        </div>
        <div class="footer-nav">
          <h3>Navegación</h3>
          <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/views/alta.html">Alta</a></li>
            <li><a href="/views/carrito.html">Carrito</a></li>
            <li><a href="/views/nosotros.html">Nosotros</a></li>
            <li><a href="/views/contacto.html">Contacto</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2024 Game Master Technology • All Rights Reserved</p>
      </div>
    </footer>
    <script type="module" src="/main.js"></script>
  </body>
</html>
